/*!
 * config
 * xiewulong <xiewulong@vip.qq.com>
 * create: 2016/4/14
 * version: 1.0.0
 */

/**
 * config module
 * @module config
 * @since 1.0.0
 */
define(function() {

	var exports	= {};

	//开发模式
	exports.dev = true;

	return exports;

});
