/*!
 * config
 * xiewulong <xiewulong@vip.qq.com>
 * create: 2016/4/14
 * version: 0.0.1
 */

/**
 * config module
 * @module config
 * @since 0.0.1
 */
define(function() {

	var exports	= {};

	//开发模式
	exports.dev = true;

	//网关
	exports.api = '';

	//应用路径
	exports.path = '';

	return exports;

});
